@layout("/common/_container.html"){
<style>
	#status,#tips,#name{width: 100% !important;}
	#tips{
		height:80px;}
</style>
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="roleInfoForm">
		
			<input type="hidden" id="id" value="">

			<div class="row">
				<div class="col-sm-4">
					<#input id="name" name="角色名称"/>
					<#select id="status" name="角色状态">
						<option value="1">正常</option>
						<option value="2">冻结</option>
					</#select>
					<#textarea id="tips" name="角色描述"/>
				</div>
			</div>
			<div class="row btn-group-m-t" style="text-align: right">
					<#button btnCss="danger padd_30" name="取消" id="cancel" icon="fa-eraser" clickFun="RolInfoDlg.close()"/>
					<#button btnCss="info padd_30" name="提交" id="ensure" icon="fa-check" clickFun="RolInfoDlg.addSubmit()"/>
			</div>
		</div>

	</div>
</div>
<script src="${ctxPath}/static/modular/system/role/role_info.js?${date(),dateFormat='yyyyMMddHHmmssSSS'}"></script>
@}
