@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="deptInfoForm">

            <input type="hidden" id="id" value="${deptId}">

            <div class="row">

                <div class="col-sm-6">
                    <#input id="num" name="展示顺序" underline="true" value="${num}"/>
                </div>
            </div>

            <div class="row btn-group-m-t" style="text-align: right">
                    <#button btnCss="danger padd_30" name="取消" id="cancel" icon="fa-eraser" clickFun="DeptInfoDlg.close()"/>
                    <#button btnCss="info padd_30" name="提交" id="ensure" icon="fa-check" clickFun="DeptInfoDlg.modifyNumSubmit()"/>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/dept/dept_info.js?${date(),dateFormat='yyyyMMddHHmmssSSS'}"></script>
@}
